* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
/*   border: 1px solid red; */
}

/* Nav menu section */
#nav-menu {
  height: 50px;
/*   border-bottom: 1px solid silver; */
  width: 100%;
}

#nav-menu ul {
  list-style-type: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

#nav-menu ul li {
  display: inline-block;
  padding: 15px;
  height: 100%;
}

#nav-menu ul li a{
  color: #5e5e5e;
  font-family: Audiowide;
}

#nav-menu ul li a i {
  color: #00688B;
}

#nav-menu ul li:hover {
  background-color: #D3D3D3;
}

#nav-menu ul li a:hover {
  text-decoration: none;
  color: #fff;
}

/* About section */
#about{
/*   border: 1px solid red; */
  margin: 0;
  padding: 0;
  min-height: 600px;
  height: auto;
}

#about-image {
  height: 600px;
  background-image: url('https://w-dog.net/wallpapers/14/7/471666002396653/planet-earth-destruction-humanity.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#about-text {
  height: 600px;
  background-color: #f1f1f1;
}

#about-text h3 {
  font-family: Chewy;
}

#about-text div {
  height: 500px;
  overflow: auto;
  margin-bottom: 15px;
  word-wrap: break-word;
  padding: 10px;
}

#about-text div p {
  font-family: Courgette;
  text-align: justify;
}

#about-text p {
  font-family: Chewy;
  text-align: right;
}

/* Portfolio */
.portfolio {
  margin: 0;
  padding: 0;
  min-height: 300px;
  height: auto;
/*   border: 1px solid blue; */
}

.testimonial {
/*   border: 1px solid red; */
  max-height: 300px;
  height: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.testimonial:nth-child(3) {
  border-right: none;
}

.testimonial a {
  color: #00688B;
  font-family: Audiowide;
}

.testimonial img {
  margin-top: 10px;
/*   border: 5px solid #00688B; */
  border: none;
  box-shadow: 0 0 10px #00688B;
/*   height: 90%; */
  width: 95%;
}

/* Hobbies */
#hobbies {
  margin: 0;
  padding: 0;
  min-height: 500px;
  height: auto;
  background-image: url('http://s24.postimg.org/wjdkfvexx/comics.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#hobbies-section {
  height: 600px;
/*   padding: 0; */
}

#hobbies-section h3 {
  color: #000;
  font-family: Chewy;
  text-align: center;
}

#hobbies-section div {
  height: 500px;
  overflow: auto;
  margin-bottom: 15px;
  word-wrap: break-word;
  padding: 10px;
}

#hobbies-section div p {
  font-family: Courgette;
  text-align: justify;
}

#hobbies-section p {
  font-family: Chewy;
  text-align: right;
}

/* Contact */
#contact {
  padding: 0;
  margin: 0;
  min-height: 50px;
  height: auto;
}

#media {
  padding-top: 15px;
  text-align: center;
}

#media a{
  color: #00688B;
}

#media a i {
  font-size: 20px;
  padding-right: 10px;
}

#fb:hover {
  color: #3B5998;
}

#git:hover, #pen:hover {
  color: #000;
}

#code:hover {
  color: #006400;
}

#copyright {
  text-align: center;
  padding-top: 15px;
}

#copyright p {
  font-family: Courgette;
  font-size: 15px;
  color: #00688B;
}

/* Developer */
#developer {
  padding: 0;
  margin: 0;
  min-height: 50px;
  height: auto;
}

#develop {
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid #00688B;
  padding-bottom: 15px;
}

#develop p {
  color: #00688B;
  font-family: Courgette;
  font-size: 15px;
}

#develop p a {
  color: #5e5e5e;
}

#develop p a:hover {
  color: #0080ff;
}

#develop a i {
  font-size: 20px;
}

/* Responsive Design */
@media screen and (max-width: 500px) {
  #nav-menu ul li a span {
    display: none;
  }
  
  #about-text {
    border-bottom: 2px solid silver;
  }
  
  .testimonial {
    margin-top: 10px;
  }
}